@media screen and (max-width: 600px) {
    .color {
        background-color: whitesmoke;
    }
    
    .feedback {
        text-align: center;
        padding-top: 90px;
        background-color:  whitesmoke;
    }
    
    .feedback h2 {
        font-family: 'Lato', sans-serif;
        font-size: 40px;
    }
    
    .feedback-container {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        height: 220vh;
        background-color:  whitesmoke;
    }
    
    .feedback-people {
        height: 500px;
        width: fit-content;
        margin: 0 60px;
    }
    
    .feedback-people h3, .feedback-people p {
        text-align: center;
        font-family: 'Lato', sans-serif;
        margin: 10px;
    }

    .feedback-people p {
        color: gray;
    }
    
    .feedback-people img {
        border-radius: 50%;
        height: 250px;
        box-shadow: 0 5px 5px grey;
    }
}